*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    
}


.header{
     padding: 2rem 9%;
     display: flex;
     justify-content: space-between;
     align-items: center;
    

}

.navbar a{
  font-size: 1.5rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: .3s;

}
.navbar a:hover{
    color: var(--main--color);

}

.first-image{
    background-color: #845ef7;
  
    /* margin-bottom: -2px;  */
    display: flex;
    padding: 50px;
    
} 



.girlsimage{
     margin-left: 80%;  
     margin-top: 10%;
     width: 70%; 
     height: 50vh;
     
}
.first-image button{
    padding: 20px 60px; 
    background-color: #e599f7;
    margin-left: 20%;
    margin-top: 10%;
}
.first-image .cloth h2{
   padding-top: 20%; 
   padding-left: 15%;
}

.selection{
    text-align: center;
    margin-top: 5%;
}
.dresstops {
    text-align: center;
   display: flex;
  margin-left: 50%;
   
}


.dresses{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 5%;
}
.berge img{
    width: 80%;
    height: 82%;
}
.orange img{
    width: 80%;
    height: 90%;
}
.view {
    text-align: center;   
    margin-bottom: 6%;
    margin-top: 3%;
}
.view button{
    background-color: #e599f7;
    padding: 10px;
    width: 20%;
    font-size: 20px;
  border-style: none;
}
.sports{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.paragraph{
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
 
}
.main {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    background-color: #fff5f5;
    padding: 50px;
 

}
.paragraph1 .icons{
    display: flex;
    justify-content: space-between;
    
}
.paragraph5 #button2{
    background-color: #e599f7;
    padding: 10px;
   margin-top: 5%;
   border-style: none;
   width: 50%;
  
}
.paragraph5 button{
    padding: 10px;
    width: 70%;
}
.playimage img{
    margin-top: 30px;
    height: 50%;
}

@media screen and (max-width: 500px){
    
}
